<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: current_user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @new_book %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Group Detail</h2>
      <table class='table'>
        <tr>
          <th></th>
          <th>グループ名</th>
          <th>紹介文</th>
          <th>参加者</th>
        </tr>
        <tr>
          <td>
            <%= attachment_image_tag(@group, :image, :fill, 100, 100, fallback: "no-image-icon.jpg") %><br>
          </td>
          <td><%= link_to @group.name, group_path(@group) %></td>
          <td><%= @group.introduction %></td>
          <td>
            <% @group.users.each do |user| %>
              <p><%= user.name %></p>
            <% end %>
          </td>
          <!--オーナーか、それ以外（参加 or 未参加）かで変わるリンク-->
          <% if @group.owner_id == current_user.id %>
            <td><%= link_to 'Edit', edit_group_path(@group), class: "btn btn-sm btn-success edit_group_#{@group.id}" %></td>
          <% else %>
            <% if @group.users.include?(current_user) %>
              <td><%= link_to 'Leave this group', leave_group_path(@group),method: :delete, class: "btn btn-sm btn-danger" %></td>
            <% else %>
              <td><%= link_to 'Join this group', join_group_path(@group),method: :post, class: "btn btn-sm btn-primary" %></td>
            <% end %>
          <% end %>
          <!--オーナーのみ表示-->
          <% if @group.owner_id == current_user.id %>
            <td><%= link_to 'Notice an Event', notice_an_event_path(@group), class: "btn btn-sm btn-primary" %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>